*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / 0.5(--tw-text-opacity));
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.round-image::before {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  z-index: 10;
  height: 4rem;
  width: 4rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  background-size: cover;
  content: '';
  background-image: url('./components/320x320.jpg');
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.Link-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NeumorphismButton */
.NeumorphismButton {
  width: 200px;
  height: 60px;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  background-color: #0e5496;
  box-shadow: -3px -3px 5px #166380, 6px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  margin-bottom: 13px;
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.75rem;
  }

  .round-image::before {
    height: 3rem;
  }

  .NeumorphismButton {
    width: 125px;
    height: 35px;
  }
}
